# .nanorc file
# Nano settigs, replace version (v4,v5 etc) https://www.nano-editor.org/dist/<version>/nano.html
# Example config link: https://bash-prompt.net/guides/nanorc-settings/

include "/usr/share/nano/*.nanorc" # Enables the syntax highlighting.
set linenumbers             # Show line numbers
set speller "aspell -x -c"  # Sets what spelling utility to use.
set historylog              # Save the last 100 history searches for later use.
set positionlog             # Saves the cursor position between editing sessions
set cutfromcursor           # CTRL+K cuts from cursor position to end of line.
set constantshow            # Displays useful information e.g. line number and position in the bottom bar.
#set afterends              # Make Ctrl+Right stop at word ends instead of beginnings.

#--------------------------------------------------------------------------------------#
# Tab Settings
#--------------------------------------------------------------------------------------#
set tabsize 4
set tabstospaces
set autoindent


#--------------------------------------------------------------------------------------#
# Wrap Settings
#--------------------------------------------------------------------------------------#
set nowrap          # Do not wrap
#set atblanks       # Wrap line at blanks.
#set softwrap       # Enable softwrap of lines.


#--------------------------------------------------------------------------------------#
# Search Settings
#--------------------------------------------------------------------------------------#
set regexp          # Do extended regular expression searches by default.
#set casesensitive  # Case insensitive search.


#--------------------------------------------------------------------------------------#
# Status Line
#--------------------------------------------------------------------------------------#
set nohelp          # Disable the help information (CTRL+G to view the help screen).
#set morespace      # Use the blank line below the titlebar as extra editing space
#set emptyline       # Do not use the line below the title bar, leaving it entirely blank.


#--------------------------------------------------------------------------------------#
# Mouse Support
#--------------------------------------------------------------------------------------#
# Mouse clicks can be used to place the cursor,
# set the mark (with a double click), and execute shortcuts.
# Text can be selected through dragging
# by holding down the Shift key.
set mouse


#--------------------------------------------------------------------------------------#
# Shortcut key bindings
#--------------------------------------------------------------------------------------#
bind ^F whereis all     # CTRL+F - Find
#bind ^C copy main       # CTRC+C - Copy
#bind ^V paste all       # CTRL+V - Paste
#bind ^S savefile main   # CTRL+S - Save


#--------------------------------------------------------------------------------------#
# Backup - Enable and set a working backup directory
#--------------------------------------------------------------------------------------#
#set backup                              # Creates backups of your current file.
#set backupdir "~/.cache/nano/backups/"  # The location of the backups.