## TODO: take config from here https://bash-prompt.net/guides/nanorc-settings/

## .nanorc file
## Check page for editing settings: https://www.nano-editor.org/dist/v2.3/nanorc.5.html 

## Tab settings
set tabsize 4
set tabstospaces
set autoindent

set nowrap
## Show line numbers. Not available in version (2.3.1)
set linenumbers

## Enables smooth scrolling
set smooth

## Use the blank line below the titlebar as extra editing space.
#set morespace

## Enable mouse support, if available for your system. 
## When enabled, mouse clicks can be used to place the cursor, 
## set the mark (with a double click), and execute shortcuts. 
## The mouse will work in the X Window System, and on the console 
## when gpm is running. Text can still be selected through dragging 
## by holding down the Shift key.
set mouse

## Use spelling checker spellprog instead of the built-in one, 
## which calls spell.
set speller spellprog

## Use cut-to-end-of-line by default, instead of cutting the whole line.
set cut

## Do extended regular expression searches by default.
#set regexp

## Enable the use of ~/.nano/search_history for saving 
## and reading search/replace strings.
#set historylog

########## KEY BINDINGS ##########
## Make the Home key smarter. When Home is pressed anywhere 
## but at the very beginning of non-whitespace characters on a 
## line, the cursor will jump to that beginning 
## (either forwards or backwards). If the cursor is already at that 
## position, it will jump to the true beginning of the line.
#set smarthome

## Interpret the Delete key differently so that both Backspace and 
## Delete work properly. You should only need to use this option 
## if Backspace acts like Delete on your system.
#set rebinddelete

## Alt + ,  - Moves the cursor to the beginning of the previous word
bind M-, prevword main
## Alt + .  - Moves the cursor to the beginning of the next word.
bind M-. nextword main


########## SYNTAX HIGHLIGHT ##########
## Bourne shell scripts
include "/usr/share/nano/sh.nanorc"
## Nanorc files
include "/usr/share/nano/nanorc.nanorc"
## C/C++
include "/usr/share/nano/c.nanorc"
## Patch files
include "/usr/share/nano/patch.nanorc"
## Manpages
include "/usr/share/nano/man.nanorc"
## Perl
include "/usr/share/nano/perl.nanorc"
